body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .MuiImageListItemBar-titleWrap .MuiImageListItemBar-title {
  white-space: inherit;
  margin-bottom: 6px;
}

body .MuiImageListItem-root .MuiImageListItem-img {
  object-fit: contain;
  flex: 0;
  flex-grow: 0;
  aspect-ratio: 1.5/1;
}
